Resources/dbReferenceInsertPais.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/dbReferenceInsertPais" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/dbReferenceInsertPais" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dbReferenceInsertPaisInput" type="dbReferenceInsertPaisInput"/>
   <xs:complexType name="dbReferenceInsertPaisInput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>