Resources/dbReferencePersonasCRUD.wsdl

<wsdl:definitions
     name="dbReferencePersonasCRUD"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ServiceBusApplication/SBProjectTPFinal/dbReferencePersonasCRUD"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/ServiceBusApplication/SBProjectTPFinal/dbReferencePersonasCRUD"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReferencePersonasCRUD"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="dbReferencePersonasCRUD_plt" >
    <plt:role name="dbReferencePersonasCRUD_role" >
      <plt:portType name="tns:dbReferencePersonasCRUD_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReferencePersonasCRUD" schemaLocation="dbReferencePersonasCRUD_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="dbReferencePersonasCRUDSelect_inputParameters">
        <wsdl:part name="dbReferencePersonasCRUDSelect_inputParameters" element="top:dbReferencePersonasCRUDSelectInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:PersonasPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="PersonasCollection_msg">
        <wsdl:part name="PersonasCollection" element="top:PersonasCollection"/>
    </wsdl:message>
    <wsdl:portType name="dbReferencePersonasCRUD_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:PersonasCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:PersonasCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:PersonasCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="dbReferencePersonasCRUDSelect">
            <wsdl:input message="tns:dbReferencePersonasCRUDSelect_inputParameters"/>
            <wsdl:output message="tns:PersonasCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:PersonasCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
