Resources/dbRefUpdatePaises.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/dbRefUpdatePaises" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/dbRefUpdatePaises" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dbRefUpdatePaisesInput" type="dbRefUpdatePaisesInput"/>
   <xs:complexType name="dbRefUpdatePaisesInput">
      <xs:sequence>
         <xs:element name="newDescripcion" type="xs:string" nillable="true"/>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>